<ul class="nav justify-content-center">
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link">Requeriments</a>
  </li>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Projects</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="setFilter('all')">All projects</button>
      <button class="dropdown-item" (click)="setFilter('deployed')">Deployed</button>
      <button class="dropdown-item" (click)="setFilter('created')">Created</button>
    </div>
  </div>
 
  <li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link">Create New Project</a>
  </li>
</ul>