<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="row justify-content-center" id="carrusel">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ngb-carousel>
          <ng-template ngbSlide>
            <img src="../../../assets/imagenes/imagen1.jpg" alt="First slide">
            <div class="carousel-caption">
              <h1>Search</h1>
              <p>We offer you a lot of leading projects.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../../assets/imagenes/imagen2.jpg"  alt="Second slide">
            <div class="carousel-caption">
              <h1>Find</h1>
              <p>Click on the project that catches your attention.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../../assets/imagenes/imagen3.jpg" alt="Third slide">
            <div class="carousel-caption">
              <h1>Financing</h1>
              <p>Help the project that you like financing it</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
</div>
<div class="row" id="selector" style="margin-top: 10px">
  <div class="col-12">
      <ngb-tabset [justify]="currentJustify">
          <ngb-tab title="Deployed">
            <ng-template ngbTabContent>
                <div class="row" id="proyectos">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let proyecto of proyectosDesplegados">
                        <app-card-project [proyecto]='proyecto'></app-card-project>
                     </div>
                   </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Created</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row"  id="proyectos">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let proyecto of proyectosCreados">
                    <app-card-project [proyecto]='proyecto'></app-card-project>
                 </div>
               </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>
  </div>