<div class="row justify-content-center" id="regUser" style="margin-top: 10%;" >
  <div class="col-10">
    <ngb-tabset>
        <ngb-tab title="Inicia Sesión">
          <ng-template ngbTabContent>
              <form class="form-inline" style="margin-top: 3%;">
                  
                  <div class="input-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="input-group-addon">@</div>
                    <input name="email" type="text" class="form-control" [(ngModel)]="email"  placeholder="Email">
                  </div>

                  <div class="input-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="input-group-addon">P </div>
                    <input name="password" type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
                  </div>
                  
                  <div class="form-check col-12" style="margin-top: 2%;">
                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                  </div>
                  <button class="btn btn-info col-12" (click)="login()" [disabled]="!email || !password" style="margin-top: 2%;">Login</button>
                  <button class="btn btn-danger col-12" (click)="loginGoogle()" style="margin-top: 2%;">GOOGLE</button>
                  <button class="btn btn-warning col-12" (click)="logout()" *ngIf="authService.user | async" style="margin-top: 2%;">Logout</button>
                </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Registrate">
          <ng-template ngbTabContent>
              <form class="form-inline" style="margin-top: 3%;">
                  
                  <div class="input-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 2%;">
                    <div class="input-group-addon">U</div>
                    <input name="username" type="text" class="form-control" [(ngModel)]="username" id="user" placeholder="Username">
                  </div>

                  <div class="input-group col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 2%;">
                      <div class="input-group-addon">@</div>
                      <input name="email1" type="text" class="form-control" [(ngModel)]="email1" id="mail1" placeholder="Email">
                    </div>
                    
                  <div class="input-group col-xs-6 col-sm-6 col-md-6 col-lg-6"  style="margin-bottom: 2%;">
                    <div class="input-group-addon">P </div>
                    <input name="password" type="password" class="form-control" [(ngModel)]="password1" id="password1" placeholder="Password">
                  </div>

                  <div class="input-group col-xs-6 col-sm-6 col-md-6 col-lg-6"  style="margin-bottom: 2%;">
                      <div class="input-group-addon">P </div>
                      <input name="password2" type="password" class="form-control" [(ngModel)]="password2" id="password2" placeholder=" Password">
                    </div>

                    <div class="input-group col-12" style="margin-bottom: 2%;">
                        <div class="input-group-addon">A</div>
                        <input name="address" type="text" class="form-control" [(ngModel)]="address" id="wallet" placeholder="Wallet Address">
                      </div>
                      <button class="btn btn-primary" (click)="signup()" [disabled]="disable" style="margin-top: 2%;">
                        Signup
                      </button>
                  </form>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
  </div>
</div> 